{% extends 'base.html.twig' %}

{% block title %}Lucky Number{% endblock %}

{% block javascripts %}
<style>
    .error_wrapper { 
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10%;
        font-family:Helvetica;
        width: 40%; 
        height: 50%;
</style>

{% endblock %}
{% block body %}

<div class="error_wrapper">
<h1>404</h1>
<h2>Not Found</h2>
</div>

{% endblock %}